main
{
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 10px;
}
body
{
    background-color: black;
}
.block
{
    display: block;
    margin-bottom: 10px;
}
#canvas_holder
{
    background-color: black;
    width:100vw;
    padding: 15px 0;
}